<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- CSS -->
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- MetisMenu CSS android向けのやつ-->
    <link href="{% static 'bootstrap/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'bootstrap/dist/css/sb-admin-2.css' %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static 'bootstrap/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- 自分で設定したcssを追加で読み込ませている -->
    <link href="{% static 'charts/css/structure.css' %}" rel="stylesheet" type="text/css">
    
    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
    

    {% block head %}
    {% endblock %}
    

</head>
    
<body>


    <div id="wrapper">
        <!-- Navigationバー -->
        <nav class="navbar navbar-default navbar-static-top manager-nav no-margin" role="navigation">
            <!-- Navigationバーの上部に表示されるヘッダー-->
            <div class="navbar-header">
                <a class="navbar-brand">gragragrao Company</a>
            </div>
            
            <!-- Navigationバーの右側に表示されるリンク-->
            <ul class="nav navbar-top-links navbar-right">
                <!-- ドロップダウン -->
                <li class="dropdown">
                    
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li><!-- 区切り線 -->
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>

                </li>
            </ul>
            
            <!-- サイドバーの表示関係 -->
            <div class="navbar-default sidebar" role="navigation">
              <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    
                    <!-- チャートへのリンク-->
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/sensor_data_chart/">Flot Charts</a>
                            </li>
<!--
                            <li>
                                <a href="/sensor_data_list/">Morris.js Charts</a>
                            </li>
-->
                        </ul>
                    </li>

                    <!-- テーブルへのリンク -->
                    <li>
                        <a href="/sensor_data_list/"><i class="fa fa-table fa-fw"></i> Sensor Data 一覧</a>
                    </li>
                    
                </ul>
              </div>
            </div>
            
        </nav>
        {% block body %}
        {% endblock %}
    </div>
</body>

</html>
    