{% extends "base.html" %}

{% load static %}


{% block title %}Sensor Data List{% endblock %}

{% block body %}
<div id="wrapper">
    <div id="page-wrapper">
        <!-- 項目表示部分 -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> Sensor Data Table </h1>
            </div>
        </div>
        <!-- データテーブル表示用パネル -->
        <div class="row">
            <div class="col-lg-6 full-width margin-top-20percent" >
                <div class="panel panel-default full-width">
                    <!-- パネルのヘッダー -->
                    <div class="panel-heading">
                      Sensor Data
                    </div>
                    <!-- パネルの表示内容（テーブル） -->
                    <div class="panel-body full-width full-height">
                      <table id="sensor-data-list-table" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline full-width">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>日時</th>
                            <th>温度</th>
                            <th>湿度</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for data in sensor_data %}
                          <tr>
                            <td>{{data.id}}</td>
                            <td>{{data.time}}</td>
                            <td>{{data.temp}}</td>
                            <td>{{data.humid}}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
              </div>
            </div>
        </div>
    </div>
</div>

<!--javascript-->
<!-- jQuery -->
<script type="text/javascript" src="{% static 'bootstrap/vendor/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'bootstrap/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'bootstrap/vendor/metisMenu/metisMenu.min.js' %}"></script>

<!-- 「SB admin2」のデータテーブル関係 -->
<!-- DataTables JavaScript -->
<script src="{% static 'bootstrap/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bootstrap/vendor/datatables-plugins/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'bootstrap/dist/js/sb-admin-2.js' %}"></script>

<script>
//<table id="sensor-data-list-table">の機能を拡張   
$(document).ready(function() {
    $('#sensor-data-list-table').DataTable({
        responsive: true,
        // sort機能の無効化
        ordering: false,
        // ページの表示件数を変更する
        displayLength: 20,
    });
});
</script>
{% endblock %}
