{% extends "base.html" %}

{% load static %}

{% block title %}Sensor Data List{% endblock %}

{% block body %}
<div id="wrapper">
    <div id="page-wrapper">
        <!-- 項目表示部分 -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> Sensor Data Chart </h1>
            </div>
        </div>
        <!-- データテーブル表示用パネル -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <!-- パネルのヘッダー -->
                    <div class="panel-heading">
                        Line Chart Example
                    </div>
                    <!-- /.panel-heading -->
                    <!-- パネルの表示内容（テーブル） -->
                    <div class="panel-body">
                        <div class="flot-chart">
                            <div class="flot-chart-content" id="flot-line-chart"></div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
        
        <!-- データテーブル表示用パネル -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <!-- パネルのヘッダー -->
                    <div class="panel-heading">
                        high chart
                    </div>
                    <!-- /.panel-heading -->
                    <!-- パネルの表示内容（テーブル） -->
                    <div class="panel-body">
                        <!--   ここにhighChartが表示される-->
                        <div id='container'></div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
    </div>
</div>


<!--javascript-->
<!-- jQuery -->
<script src="{% static 'bootstrap/vendor/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'bootstrap/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'bootstrap/vendor/metisMenu/metisMenu.min.js' %}"></script>
<!-- 「SB admin2」のチャート関係 -->
<!-- Flot Charts JavaScript -->
<!---->
<script src="{% static 'bootstrap/vendor/flot/excanvas.min.js' %}"></script>
<!--  チャート描画  -->
<script src="{% static 'bootstrap/vendor/flot/jquery.flot.js' %}"></script>
<!--  チャートをブラウザの大きさに合わせてリサイズ jquery.flot.js　の後に呼び出すこと -->
<script src="{% static 'bootstrap/vendor/flot/jquery.flot.resize.js' %}"></script>
<!---->
<script src="{% static 'bootstrap/vendor/flot-tooltip/jquery.flot.tooltip.min.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'bootstrap/dist/js/sb-admin-2.js' %}"></script>

<!--high chart-->
<!--<script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js';></script>-->
<script src="http://code.highcharts.com/highcharts.js";></script>



<script>
//Flot Line Chart
//$(document).ready()
//jQuery:HTML=DOMの読み込みが終わったらfunction()の中の処理(=なにかしらの処理)を実行するという意味
// $(function(){…}) と同じ意味
$(document).ready(function() {

    var offset = 0;
    plot();

    function plot() {
        var sin = [],
            cos = [];
        for (var i = 0; i < 12; i += 0.2) {
            sin.push([i, Math.sin(i + offset)]);
            cos.push([i, Math.cos(i + offset)]);
        }

        var options = {
            series: {
                lines: {
                    show: true
                },
                points: {
                    show: true
                }
            },
            grid: {
                hoverable: true //IMPORTANT! this is needed for tooltip to work
            },
            yaxis: {
                min: -1.2,
                max: 1.2
            },
            tooltip: true,
            tooltipOpts: {
                content: "'%s' of %x.1 is %y.4",
                shifts: {
                    x: -60,
                    y: 25
                }
            }
        };

        var plotObj = $.plot($("#flot-line-chart"), [{
                data: sin,
                label: "sin(x)"
            }, {
                data: cos,
                label: "cos(x)"
            }],
            options);
    }
});   

</script>


<script type="text/javascript">  
// HighChart    
var chart
function draw() {
    options = {
        // チャートの設定
        chart :{
            renderTo : "container",// 出力先を指定
            //type : "column",// チャートの種類
         },

        // HighChartホームページへのリンク先の表示を消す
        credits: {
            enabled: false
        },

        // タイトルを指定
        title : {text: "環境データ"},

        // x軸のラベルを指定
        xAxis : {
            type: 'datetime',// x軸を時間軸に設定
            title: {text: "時間"},
        },

        // y軸のラベルを指定
        yAxis : {
            title: {text: "数値"},
        },
    }

    var endpoint = '/api/chart/data/'
    //var endpoint = '/api/chart/data/2017-12-21'
    var temps = []
    var humids = []
    var atmos = []
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function(data){
            temps = data.temps
            humids = data.humids
            atmos = data.atmos

        options['series'] = [
            {
                name: "気温",
                data: temps
            },
            {
                name: "湿度",
                data: humids
            },
{# {#}
{# name: "気圧",#}
{# data: atmos#}
{# },#}
        ]

        //チャートの設定や表示データが格納された入れ物を渡してチャートを作る
        chart = new Highcharts.Chart(options)

    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

}
// ページがロードされた後に、グラフを出力する
document.body.onload = draw()
</script>

{% endblock %}